.contenedor { /* max-width es el ancho maximo que puede tener el elemento -responsive- 
    width: 100%; medira el 100% sin superar los 1000px pero se adaptara al ancho de pantalla*/
    max-width: 1000px;
    margin: auto;
    padding: 0px;

}

.cabecera {
    background-color: red;
    width: 80%;
    height: 200px;
    float: left;
}
.menu {
    background-color: blue;
    width: 20%;
    height: 400px;
    float: right;
}
.cabecera2 {
    background-color: #FFEF0B;
    width: 80%;
    height: 200px;
    float: left;
  
}
.pie {
    background-color: green;
    float: left;
    width: 100%;
    height: 100px;
}
